.table-data {
    background-color: white;
    box-shadow: 0px 0px 1px;
}
.timeSlot {
    width: 280px;
    margin: 5px;
    height: auto;
    background: #e8f0fd;
    border-radius: 10px;
}
.slotHeader {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(61 128 223);
    align-items: center;
    color: #4b8ae2;
    font-weight: bolder;
}
.startTime {
    padding: 7px;
}
.endTime {
    padding: 7px;
}

.slot-body {
    padding: 10px 15px;
}
.inv-company {
    font-weight: bold;
    color: #345483;
    font-size: 0.86rem;
}

.invs-in-company-list {
    color: cornflowerblue;
    margin-left: 15px;
}
